.quick-filter-popup {
    top: 0;
    position: absolute;
    z-index: 100;
    background-color: $clrwht;
    border-radius: $frmrad;
    max-width: 100%;
    gap: 20px;
    padding: 8px;
    box-shadow: 0 8px 8px 0 rgba(51, 48, 48, 0.2),
    0 -8px 24px 0 rgba(234, 224, 218, 0.3);
    list-style-type: none;
    @include for-mobile-layout {
        width: calc(100% - 16px);
        margin: 0 8px;
    }
    li {
        cursor: pointer;
        padding: 8px;
        text-transform: capitalize;
        margin: 8px 0;
        width: 100%;
        &:hover,
        &.selected {
            font-weight: 700;
        }
        .marked {
            color: $clr1;
        }
    }
    &::before {
        content: "";
        position: absolute;
        @include from-tablet-layout {
            margin-inline-start: 10px;
        }
        @include for-mobile-layout {
            margin-inline-start: calc(50% - 16px);
        }
        top: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $clrwht;
    }
}
