.media-preview {
  &__navigation-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    background-color: var(--base-background);
    border-radius: 50%;
    border: inherit;
    height: 38px;
    width: 38px;

    &:disabled {
      visibility: hidden;
    }

    &:hover img {
      filter: invert(100);
    }
  }

  &__image {
    border-radius: 20px;
    max-height: calc(100vh - 96px);
  }

  &__close {
    position: absolute;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 48px;
  }
}
