// Colors
$clr1: #891826;
$clr2: #ba1628;
$clr3: #9c3842;
$clr4: #f7f3f0;

$clrbgc: #fffaf080;

$clrwht: #fffbf8;
$clrblk: #242424;

$frmrad: 16px;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 540px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1080px;
$wide-breakpoint: 1280px;

.mark1 {
  color: $clr1;
}
