.stars-container {
  user-select: none;
  display: flex;
  justify-content: center;
  position: relative;
  height: 20px;
  padding: 2px;
  .stars {
    position: absolute;
    display: flex;
    overflow: hidden;
    transition: 0.2s;
    svg {
      &.empty-star {
        path {
          fill: #e3e3e3;
        }
      }
      &.full-star {
        path {
          fill: $clr1;
        }
      }
    }
  }
}
