.custom-button {
  user-select: none;
  display: flex;
  padding: 3px 8px;
  border: 1px solid var(--base-background);
  border-radius: 50px;
  background-color: var(--base-light1);
  width: max-content;

  &__content {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      object-fit: scale-down;
    }

    span {
      height: 100%;
    }
  }

  &__loader {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &:hover {
    @media not all and (pointer: coarse) {
      box-shadow: 0 4px 4px 0 rgba(51, 48, 48, 0.2),
        0 -8px 24px 0 rgba(234, 224, 218, 0.3);
    }
  }
}
